<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

        <div class="form-container">
            <div class = 'header'>
            <h3 class = 'parking-info'>Добавить новое прибытие траулера</h3>
            
            <div class = 'traw'>
            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                  <label class = 'wTxt' for="{{ form.catch.id_for_label }}">Улов:</label>
                  <input 
                  placeholder="кг" 
                  type = "{{ form.catch.field.widget.input_type }}"
                  name="{{ form.catch.html_name }}"

                  >
                  
                </div>
                
                <div class="form-group">
                  <label class = 'wTxt' for="id_date_navigation">Дата отправки:</label>
                  {{ form.date_navigation }}
                </div>
                
                <div class="form-group">
                  <label class = 'wTxt' for="id_capitan">Капитан:</label>
                  {{ form.capitan }}
                </div>
                
                <div class="form-group">
                  <label  class = 'wTxt' for="id_trawler">Траулер:</label>
                  {{ form.trawler }}
                </div>
                <br>
                <button class = 'btns' type="submit">Добавить</button>
                <button type="button" class="btns" onclick="location.href='{% url 'main' %}'">Вернуться в главное меню</button> 
              </form>
            </div>
        </div>
        <br>
    </div>
</body>

</html>